html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
a{
    cursor: pointer;
}
main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-relative {
    position: relative;
}
header{
    font-family: 'Montserrat Subrayada';font-size: 22px;
}

.overlay-text {
    position: absolute;
    top: 70%; 
    /* left: 0%; */
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color */
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background */
    padding: 1rem;
    border-radius: 10px;
}
